.board {
  $size: 32px;
  $columns: 16;

  margin: 20px;
  width: $columns*$size + $columns*4;
  height: $columns*$size + $columns*4;
  background-color: #ddd;
  border: solid 3px #ccc;
  padding: 4px 0 0 4px;
  display: grid;
  grid-template-columns: repeat($columns, $size);
  grid-template-rows: repeat($columns, $size);
  grid-gap: 4px;
}

.tile {
  background-color: #ccc;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  font-size: 1.1em;
  user-select: none;
  position: relative;

  &--unclicked {
    cursor: pointer;
    // background-color: #ccd;

    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #bbb;
      z-index: 100;
      text-align: center;
      font-size: 1.4rem;
      padding-top: 5px;
      transition: 0.3s;
      opacity: 1 !important;
    }

    &:hover::before {
      background-color: #aeaeae;
    }
  }

  &--mine:not(.tile--marked):not(.tile--unclicked) {
    background-color: #ca6144;
  }

  &--mine.tile--marked:not(.tile--unclicked) {
    background-color: #99cd31;
  }

  &--marked {
    &::before {
      position: absolute;
      content: 'F';
      opacity: 0;
      background-color: #99cd31;
    }

    &:hover::before {
      background-color: darken(#99cd31, 5);
    }
  }

  span {
    color: firebrick;
  }

  sup {
    color: #1b8057;
  }

  .mine {
    color: #333;
    font-size: 2em;
    font-weight: 700;
    padding-top: 8px;
  }
}

.board.board--debug .tile--unclicked::before {
  background-color: transparent;
}
